*{
    margin:0;
    box-sizing:border-box;
}

body{
    background-color:#F4A460;
    
    min-width: 100%;
}






.logo {
    display:flex;
    justify-content:center;
}
/* menu */



.menu{
    border: 4px outset white;
    
    display:flex;
    flex-direction:row;
    padding: 15px 0px;
    justify-content: center;
    margin: 6px ;
    background-color: rgb(0, 0, 0,0.8);
    
}

.menu li {
   
    margin: 3px 25px;
    border: 1px white solid;
    border-radius: 90px;
    padding: 8px;
    text-align: center;
    list-style: none;
}

.menu li a:hover{
    color:#F4A460;
}

.menu li a {
    font-weight: bold;
    text-decoration: none;
        text-transform: none;
        color:white;
}

.teste {
    display : flex;
    justify-content: end;
    margin-left:90px;
    text-align: center;
    

}
.current{
    color:#F4A460;
   }
@media screen and (max-width:1000px){
    .menu{
        display:flex;
        flex-direction: column;
          
    }

    .menu li{
        margin-top:6px;
    }
}

/* Contenue */

.main{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    
    margin:10px;
    height:200%;
    
}

.contenue{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 1;
    margin:10px;
    border:solid 1px black;
    background-color:grey;
    text-align: center;
    border-radius: 10px;
    box-shadow: 4px 3px 3px black;
}
.contenuedeux{
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start: 1;
    border:solid 1px black;
    background-color:grey;
    text-align: center;
    margin:10px;
    border-radius: 10px;
    box-shadow: 4px 3px 3px black;
}
.contenuetrois{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 2;
    border:solid 1px black;
    background-color:grey;
    text-align: center;
    margin:10px;
    border-radius: 10px;
    box-shadow: 4px 3px 3px black;
}
.contenuequatre{
    grid-column-start:3;
    grid-column-end:5;
    grid-row-start: 2;
    border:solid 1px black;
    background-color:grey;
    text-align: center;
    margin:10px;
    border-radius: 10px;
    box-shadow: 4px 3px 3px black;
}
.contenuecinq{
    grid-column-start:1;
    grid-column-end:3;
    grid-row-start: 3;
    border:solid 1px black;
    background-color:grey;
    text-align: center;
    margin:10px;
    border-radius: 10px;
    box-shadow: 4px 3px 3px black;
    
}

@media screen and (max-width:1000px){
    .contenue{
        grid-column-start:1;
        grid-column-end:5;
        grid-row:1;
    }
    .contenuedeux{
        grid-column-start:1;
        grid-column-end:5;
        grid-row:2;
    }
    .contenuetrois{
        grid-column-start:1;
        grid-column-end:5;
        grid-row:3;
    }
    .contenuequatre{
        grid-column-start:1;
        grid-column-end:5;
        grid-row:4;
    }
    .contenuecinq{
        grid-column-start:1;
        grid-column-end:5;
        grid-row:5;
    }
}

.image{
    text-align: center;
    
}

/* Footer */

.footer{
    background-color:rgb(0,0,0,0.7);
    margin-top: 6px;
    padding:9px;
}
.titrefooter{
 text-align: center;
 color:grey;
 font-weight: bold;
}
.contenufooter{
    display:flex;
    font-size:0.8em;
    justify-content: center;
    margin:15px;

}
.contenufooter .icone{
    margin-left:50px;

}